<!DOCTYPE html>
<html>
    <head>
    <title>Multiple Events</title>
    </head>
<body>


<h4 align=right>Welcome {{session['username'] }}</h4>
<h4 align=right>User_id: {{session['user_id'] }}</h4>
<h4 align=right>Location: {{session['location'] }}</h4>

<form action="" method="post">

<button type="submit" name="event" value="pay">Pay</button>
<button type="submit" name="event" value="feedback">Give Feedback</button>

</form>
<button type="button" onclick="alert('Event 2')">Event 2!</button>
 
</body>
</html>