<!DOCTYPE html>
<html>
    <head>
        <title>Feedback Page</title>
    </head>
<body>

<h2>Feedback</h2>
<p>Rate the app based on your expirience. 3 being the best 1 being the worst.</p>
<form action="" method="post">
    <h4>Is cube easy to navigate?</h4>
  <input type="checkbox" id="navigation1" name="navigation" value="1"><label for="navigation1"> 1</label><br>
  <input type="checkbox" id="navigation2" name="navigation" value="2"><label for="navigation2"> 2</label><br>
  <input type="checkbox" id="navigation3" name="navigation" value="3"><label for="navigation3"> 3</label><br><br>
  <h4>Is cube easy to useful?</h4>
  <input type="checkbox" id="usability1" name="usability" value="1"><label for="usability1"> 1</label><br>
  <input type="checkbox" id="usability2" name="usability" value="2"><label for="usability2"> 2</label><br>
  <input type="checkbox" id="usability3" name="usability" value="3"><label for="usability3"> 3</label><br><br>
  
  <input type="submit" value="Submit">
</form> 

</body>
</html>
